<body id="header">
    <header class="site-header">
        <div class="site-identity">
            <h1 style="font-size: 50px"><img src="/assets/logo.jpg" width="15%">&nbsp;
                <!-- <a href="#">&nbsp;&nbsp;<b><span>D</span>ig<span style="color: red;">I</span>n</b></a><br> -->
                <!-- <span style="size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; One step for all your needs</span> -->
                <i ><strong style="font-size:24px; color: black;">One Step for All your needs <i
                            class="fa fa-shopping-bag" style="font-size:36px;"></i></strong></i>
            </h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav" style="font-size: 20px">
                <li><a href="#about" target="_top"><b>About Us</b></a></li>
                <li><a href="#contact" target="_top"><b>Contact Us</b></a></li>
                <li><a href="#faq" target="_top"><b>FAQ's</b></a></li>
                <li><a href="#feedback" target="_top"><b>Feedback</b></a></li>
                <!-- <li><a routerLink="userpage"><b>userpage</b></a></li> -->
                <!-- <li><a routerLink="header"><b>admin</b></a></li>  -->
                <!-- <li><a routerLink="pay">Pay</a></li> -->
                <!-- <li><a routerLink="signin"><b>SignIn/SignUp</b></a></li> -->
                <!-- <li><a routerLink="header"><b>Admin</b></a></li> -->
                <!-- <li><a routerLink="signin" class="fa fa-sign-in" style="font-size:48px;color:black"></a></li> -->
                <!-- <li><a routerLink="signin"><strong style="font-size:24px; color: black;"><u>One Step for All your needs <i class="fa fa-shopping-bag" style="font-size:36px;"></i></u></strong></a></li> -->
                <li><a routerLink="signin" class="fa fa-sign-in" style="font-size:48px;color:black">&nbsp;<span
                            class="zzz">SignIn/Signup</span></a></li>

            </ul>
        </nav>
    </header><br><br>
    <div align="right" style="font-size: 20px;">
        <p class="fa-solid fa-location-dot"><b> Hyderabad</b></p>
    </div>
    <br>
    <!--carousel start-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" align="center">

        <div>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active">
                    <img src="https://img2.chinadaily.com.cn/images/202104/12/6073a953a31024adbdc12bb5.jpeg" alt="Meat"
                        style="width:80%; height: 500px;">
                    <div class="carousel-caption">
                        <h3>Women Fashion</h3>
                        <p>Passion</p>
                    </div>
                </div>
                <div class="item">
                    <img src="https://sslimages.shoppersstop.com/sys-master/root/h8d/ha6/28656401186846/msite-selected-sponsored-brands-2022-11-17-nml.jpg"
                        alt="Meat" style="width:80%; height: 500px;">
                    <div class="carousel-caption">
                        <h3>Men Fashion</h3>
                        <p>Style Matters</p>
                    </div>
                </div>
                <div class="item">
                    <img src="https://www.bigbasket.com/media/uploads/banner_images/fresho-fnv-Ahmedabad-Gandhinagar-1600x460-2ndNOV22.jpg"
                        alt="veg" style="width:100%;  height: 500px;">
                    <div class="carousel-caption">
                        <h3>Veg</h3>
                        <p>Veg is always healthy</p>
                    </div>
                </div>
                <div class="item">
                    <img src="https://www.bigbasket.com/media/uploads/banner_images/HP_EMF_M_T1-1600x460_220812.jpg"
                        alt="Meat" style="width:100%; height: 500px;">
                    <div class="carousel-caption">
                        <h3>Meat Food</h3>
                        <p>Yum Yumm!!</p>
                    </div>
                </div>
                <div class="item">
                    <img src="https://www.bigbasket.com/media/uploads/banner_images/DT_YXTT5611_1600x460_211022.jpg"
                        alt="Household" style="width:100%;  height: 500px;">
                    <div class="carousel-caption">
                        <h3>Household</h3>
                        <p>Household Products</p>
                    </div>
                </div>
                <div class="item">
                    <img src="https://images.unsplash.com/photo-1583209814683-c023dd293cc6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNvc21ldGljc3xlbnwwfHwwfHw%3D&w=1000&q=80"
                        alt="Household" style="width:80%;  height: 550px;">
                    <div class="carousel-caption">
                        <h3>Beauty Products</h3>
                        <p>Live Bold</p>
                    </div>
                </div>
                <div class="item">
                    <img src="https://media.istockphoto.com/id/1298288303/photo/table-with-various-colorful-stationery.jpg?b=1&s=170667a&w=0&k=20&c=V6b0GAu8Z2zvJMqM6c3IxgWVeG2yxx1KIHSNkBWQOsM="
                        alt="Household" style="width:80%;  height: 500px;">
                    <div class="carousel-caption">
                        <h3>Stationary</h3>
                        <p>Live Bold</p>
                    </div>
                </div>
                <div class="item">
                    <img src="https://images.pexels.com/photos/325153/pexels-photo-325153.jpeg" alt="Household"
                        style="width:80%;  height: 500px;">
                    <div class="carousel-caption">
                        <h3>Electronics</h3>
                        <p>Live Bold</p>
                    </div>
                </div>

                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!--carousel end-->
    <br><br><br>
    <!--gif start-->
    <div class="container">
        <div class="col-md-3" routerLink="/signin" style="cursor: pointer;">
            <img src="https://thumbs.gfycat.com/HarmfulDefiniteKoalabear-max-1mb.gif" alt="no" height="250px"
                width="250px">
            <img src="https://i.gifer.com/IXo2.gif" alt="no" height="250px" width="250px">
        </div>
        <div class="col-md-6" routerLink="/signin" style="cursor: pointer;">
            <img src="https://stylecaster.com/wp-content/uploads/2019/11/k-beauty-black-friday-.gif" alt="no"
                width="95%" length="20px">
        </div>
        <div class="col-md-3" routerLink="/signin" style="cursor: pointer;">
            <img src="https://i.pinimg.com/originals/4a/11/72/4a11720e1ae3aaa047de978aba3e1149.gif" alt="no"
                height="250px" width="250px">
            <img src="https://discovertemplate.com/wp-content/uploads/2020/08/DT_G28_Electronic-Device-Animated-GIF-Icon-pack.gif"
                alt="no" height="250px" width="250px">
        </div>
    </div>
    <!--gif end-->
    <br><br>
    <div class="col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <!-- <div class="container" width="250px" id="blog">
            <div class="CommentStyles__StyledCommentContainer-sc-gn53o-0 dgdhFW" >
                <a id="image" routerLink="/signin">
                    <img src="https://media.istockphoto.com/id/1296705483/photo/make-up-products-prsented-on-white-podiums-on-pink-pastel-background.jpg?b=1&s=170667a&w=0&k=20&c=45S4V_XXRxvnbXbN5WYEEqLAsUYQXFI7YPIuYiCthTg="
                        width="350px" height="250px" style="border-radius: 5px; padding: 10px;" align="left"></a>
                <br>
                <p id="more">Beauty products are specially formulated to be mild and non-irritating and use ingredients
                    that are selected for these properties. Beauty products include baby shampoos, Wash and body lotions,
                    oils, powders, creams, Hair brushes, Makeup brushes. Now a days even baby cologne, baby perfume etc. are also
                    available.
                </p><br><br><br><br><br><br>
                <hr>
                <a id="image" routerLink="/signin">
                    <img src="https://media.istockphoto.com/id/171302954/photo/groceries.jpg?s=612x612&w=0&k=20&c=D3MmhT5DafwimcYyxCYXqXMxr1W25wZnyUf4PF1RYw8="
                        width="350px" height="250px" style="border-radius: 5px; padding: 10px;" align="right">
                </a>
                <br><br>
                <p id="more">DigIn specialize in the selling of food, both fresh and prepackaged, as well as nonfood household goods, such as paper towels,
                    toilet paper, cleaning products and over-the-counter medicines. A typical grocery store sells fresh produce, meats, dairy products and 
                    often, bakery goods alongside canned, frozen and prepared foods.
                    In addition, our store will also sell a full range of household, healthcare and personal care items.</p><br><br><br>
                <hr>
                <a id="image" routerLink="/signin">
                    <img src="https://images.pexels.com/photos/792345/pexels-photo-792345.jpeg?cs=srgb&dl=pexels-willian-justen-de-vasconcellos-792345.jpg&fm=jpg" width="350px"
                        height="250px" style="border-radius: 5px; padding: 10px;" align="left">
                </a>
                <br><br>
                <p id="more">Electronic Products means any type of electronic device, including but not limited to smartphones, computers, laptops, radios,
                    television receivers and monitors, video cameras, digital audio players, music systems and associated equipment, microwave appliances, and global position systems.</p>
                <br><br><br><br><br><br>
                <hr>
                <a id="image" routerLink="/signin">
                    <img src="https://previews.123rf.com/images/mikhaylovaelen/mikhaylovaelen1110/mikhaylovaelen111000011/11052962-set-of-women-fashion-clothes-ans-accessories-over-floral-background.jpg"
                        width="350px" height="250px" style="border-radius: 5px; padding: 10px;" align="right">
                </a>
                <br><br>
                <p id="more">Fashion is best defined simply as the style or styles of clothing and accessories worn at any given time by groups of people
                    Our Store provides the good fabric and the cutomer satisfaction is important to us.</p>
                <br><br><br><br><br><br><br><br>
                <hr>
                <a id="image" routerLink="/signin">
                    <img src="https://images.unsplash.com/photo-1631173716529-fd1696a807b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3RhdGlvbmVyeXxlbnwwfHwwfHw%3D&w=1000&q=80" width="350px"
                        height="250px" style="border-radius: 5px; padding: 10px;" align="left">
                </a>
                <br><br>
                <p id="more">Stationery refers to commercially manufactured writing materials, including cut paper, envelopes, writing implements, continuous form paper, and other office supplies.
                    Stationery includes materials to be written on by hand (e.g., letter paper) or by equipment such as computer printers.</p>
                <br><br><br><br><br><br><br><br>
            </div>
        </div> -->

        <div class="container">
            <div class="row">
                <div class="col-md-4" *ngFor="let product of products"><br><br><br>
                    <div class="card" style="width:300px; height: 400px;" routerLink="/signin">
                        <img class="card-img-top" [src]="product.imagePath" alt="Card image"
                            style="width:100%; height: 300px;">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 18px;" align="center">{{product.name}}</h4>
                            <p class="card-text">{{product.description}}</p>
                            <!-- <h3>₹{{product.price}}/-</h3> -->
                            <!-- <p align="right">
                            <button class="btn btn-primary"> Add to Cart </button>
                        </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <hr>
        <h1 align="center" id="about"><b>About Us</b></h1>
        <h4 align="justify" style="font-size: 150%; background-color: rgb(190, 206, 242);"
        class="w3-panel w3-border w3-round-xlarge"><br>
            <li>Imagine needing something when you are at home and getting it before you have tied your shoelaces to
                step out.
                We are revolutionizing e-commerce by making the stuff most important to you, available to you in a
                blink of your eye.</li>
            <li>We want our customers to focus on the more important things for themselves and not need to plan for
                the little things that life needs on an everyday basis.
                We are here to get your chores out of your way.</li>
            <li>Our mission is “instant commerce indistinguishable from magic”. Using a backbone of technology,
                data sciences, and rich customer insights,
                we've built a dense and fast network of partner stores enabling lightning fast deliveries in
                minutes.</li>
            <li>We are already one of the largest e-grocery companies in India. Our ambition however, is to be 100x
                this size in the next five years.<br>
                In order to become one of the most important e-retail companies of our generation, we need builders
                who can think on their feet, take extreme ownership and commit to making outcomes happen.
                If you are ambitious, smart, and don't have an ego about it, we'd love to hear from you.</li>
            <li>Opportunities to create $100 billion businesses in India are rare. We are on the way and looking for
                the hungry.</li>

            <li>"DigIn" is owned & managed by "Blink Commerce Private Limited” (formerly known as Grofers India
                Private Limited) and is not related, linked or interconnected in whatsoever manner or nature, to
                “GROFFR.COM”
                which is a real estate services business operated by “Redstone Consultancy Services Private Limited”
            </li><br>
        </h4>&nbsp;
        <h1 align="center" id="contact"><b>Contact Us</b></h1>
        <div class="w3-panel w3-border w3-round-xlarge"
            style="background-color: rgb(186, 234, 220);"><br>
            <h5 align="justify" style="font-size: 222%;"><b>Customer Care</b></h5>
            <p style="font-size: 150%;">
                PSR PrimeTowers, Ground Floor,<br>
                Survey No. 126P Beside DLF Cyber City,<br>
                DLF Road Hyderabad - 500032, Telangana<br>
                Email : service@digin.in<br>
                Phone Number: +91&nbsp;6309692813<br>
                Timings : 09:00 am to 06:00 pm (Mon-Sun)
            </p><br>
        </div>
        &nbsp;
        <h1 align="center" id="faq"><b>FAQ's</b></h1>
        <div class="w3-panel w3-border w3-round-xlarge"
            style="background-color: rgb(248, 214, 150);"><br>
            <h5 align="justify" style="font-size: 222%;"><b>Frequently Asked Questions</b></h5>
            <p style="font-size: 150%;">
            <h2 id="a">General:</h2>

            <h3>What kind of products does DigIn sell?</h3>
            <h5>You can buy 7000+ products on DigIn everything from groceries to fresh fruits & vegetables, cakes
                and bakery items, to meats & seafood,
                cosmetics, mobiles & accessories, electronics (including Apple products), baby care products and
                much more.
                We get it delivered at your doorstep in the fastest and the safest way possible.</h5>

            <h3>What cities and locations does DigIn operate in?</h3>
            <h5>DigIn currently operates in Ahmedabad, Bengaluru, Chandigarh, Chennai, Delhi, Faridabad, Ghaziabad,
                Gurugram, Hyderabad, Jaipur, Jalandhar,
                Kanpur, Kolkata, Lucknow, Ludhiana, Meerut, Mohali, Mumbai, Noida, Panchkula, PuneVadodara and
                Zirakpur.</h5>

            <h2 id="a">Miscellaneous:</h2>

            <h3>Does DigIn deliver 24 hours/all night?</h3>
            <h5>As of now, this service (delivery between 12 am to 6am) is available in select areas in a few cities.
            </h5>

            <h3>How does DigIn deliver in 10 minutes?</h3>
            <h5>Our tech enables our partners staff to pick and pack an order within 2 minutes of the customer
                placing it.
                Our network of partner stores are so widely spread across cities that we have a store live almost
                every 2 kilometers. Read this blogpost to know more.</h5>

            <h2 id="a">Delivery:</h2>

            <h3>Do you charge for delivery?</h3>
            <h5>Every store has its own delivery charges. The delivery charges are mentioned on the app and web at
                the checkout page.</h5>

            <h3>What if I don't receive my order by the scheduled time?</h3>
            <h5>Over 70% of our deliveries are honoured within the 15 minute timelines. On rare occasions, due to
                unforeseen circumstances, your order might be delayed.
                In case of imminent delay, our customer support executive will keep you updated about the delivery
                time of your order</h5>

            <h2 id="a">Cancellation and Return:</h2>

            <h3>How can I cancel my order?</h3>
            <h5>Blinkit provides easy and hassle-free cancellation.
                You can cancel your order via the app or web on the order details page while it is still in the
                packing stage.</h5>

            <h3>Can I reschedule my order?</h3>
            <h5>We deliver your order in 10 minutes during all times the store in your area is operational.
                Hence we request you to order when you are available. It is not possible to reschedule an order.</h5><br>
        </div>
        <!-- <div class="contact">
            <section id="FAQ's">
                <ul>
                    <h1 style="text-align:center"><b>Frequently Asked Questions</b></h1>
                    
                </ul>
            </section>
        </div> -->
        &nbsp;
        <h1 align="center" id="feedback"><b>Feedback</b></h1>
        <div class="w3-panel w3-border w3-round-xlarge"
        style="background-color: rgb(230, 182, 246);">
            <h1>We would love to hear from you..!</h1>
            <h4>Write a feedback to us at <span style="color: red;">service@digin.in</span></h4>
            <div class="jumbotrone">
                <div class="form-group">
                    <label for="feedback">Feedback</label>
                    <input type="text" class="form-control" id="feedback" name="feedback">
                </div>
                <div align=left>
                    <a href=""><button type="submit" class="btn btn-outline-info" style="font-size: 15px;">Submit</button></a>
                </div>
            </div><br>

        </div>
        <br><br>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2"></div>&nbsp;
    <marquee behavior="scroll" direction="left" scrollamount="15">
        <!-- <a routerLink="/signin">
            <img src="http://cdn.fcglcdn.com/brainbees/banners/brandstrip1208-3-new-19-08-19.jpg">
            <img src="http://cdn.fcglcdn.com/brainbees/banners/brandstrip1208-3-new-19-08-19.jpg"></a> -->
    </marquee>
    <!--Footer Start-->
    <footer>
        <div class="container-fluid mt-5">
            <div class="card bg-white mx-5">
                <div class="row mb-4">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="footer-text pull-left">
                            <div class="d-flex">
                                <img src="/assets/logo.jpg" style="width: 17%;" id="about">
                            </div>&nbsp;
                            <p class="card-text" style="text-align: justify;">Digin is the first in India to
                                introduce this new concept. Did you ever imagine that the freshest of fruits and
                                vegetables, top quality pulses and food grains,
                                dairy products and hundreds of branded items could be handpicked and delivered to your
                                home, all at the click of a button?
                                India's first comprehensive online megastore, brings a whopping 20000+ products with
                                more than 1000 brands, to over 4 million happy customers.
                                From household cleaning products to beauty and
                                makeup, DigIn has everything you need for your daily needs.
                                is convenience personified. Online grocery shopping has never been easier.
                                Need things fresh? Whether it's fruits and vegetables or dairy and meat,
                                we have this covered as well! Get fresh eggs, meat, fish and more online at your
                                convenience. Hassle-free Home Delivery options.</p>
                            <div class="social mt-2 mb-3">
                                <a href="https://www.facebook.com/home.php"><i class="fa fa-facebook"
                                        style="font-size:26px; color:  #3b5998;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="https://twitter.com/"><i class="fa fa-twitter"
                                        style="font-size:26px; color: #00acee"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="https://web.whatsapp.com/"><i class="fa fa-whatsapp"
                                        style="font-size:26px; color: #25D366;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"
                                        style="font-size:26px; color:rgb(237, 22, 72)"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>

                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Contact Us</h5>
                        <ul class="footer-contact">
                            <li class="phone"><i class="fa fa-phone"></i> &nbsp; +91&nbsp;6309692813</li>
                            <li class="email"><i class="fa fa-envelope"></i> &nbsp; service@digin.in</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Services</h5>
                        <ul>
                            <li>Online Service</li>
                            <li>Easy Returns</li>
                            <li>Delivery To Your Doorstep</li>
                            <li>Support</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <h5 class="heading">Company</h5>
                        <ul class="card-text">
                            <!-- <li><a href="#about" target="_top" id="working">About Us</a></li> -->
                            <li><a routerLink="" target="_top" id="working">Blog</a></li>
                            <li><a href="#contact" target="_top" id="working">Contact</a></li>
                            <li><a routerLink="signup" id="working">Join Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <div class="pull-right mr-4 d-flex policy">
                            <div id="l">
                                <h4 class="heading" style="color: green;">Payment Options: </h4>
                            </div>
                            <div id="l">
                                <h2 class="heading">COD</h2>
                            </div>
                            <div id="l" class="downimg">
                                <img src="https://www.lamyshop.in/pub/media/images/PAY.png" width="400px" height="50px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider mb-4"></div>
                <div class="row" style="font-size:10px;">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="pull-left">
                            <p><b>Copyright <i class="fa fa-copyright"></i> 2022 DigIn</b></p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="pull-right mr-4 d-flex policy">
                            <div id="l">Terms & Conditions</div>
                            <div id="l">Privacy Policy</div>
                            <div id="l">Cookie Policy</div>
                        </div>
                    </div>
                    <div class="ic-floating" data-ga-event-category="Page Interaction" data-ga-event-action="buttonTap"
                        data-ga-event-label="fabButton">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="button" align="right">
        <a href="#header"><i class="fas fa-angle-double-up"></i></a>
    </div>
</body>